:root {
  --font-family: "Roboto", sans-serif;
  --color-hero: #2f303a;
  --color-team: #f5f4fa;
  --color-white: #fff;
  --color-link: #2196f3;
  --color-title: #212121;
  --color-descr: #757575;
  --color-black: #000;
  --shadow: filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
body {
  background-color: var(--color-white);
  font-family: var(--font-family);
  font-size: 14px;
 }
header {
  background-color: var(--color-white);
  display: flex;
}
ul,ol{
  list-style: none;
}
/* текущая страница ссылка */
.current {
  color: var(--color-link);
}
/* спрятали заголовок */
.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* свойства логотипа */
.logo-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing:0.03em;
  text-decoration: none;
  color: #000;
 }
.header-logo{
padding-left: 215px;
  padding-top: 24px;
}
.logoweb {
  color: var(--color-link);
}
.logostudio {
  color: var(--color-black);
}
.logostudio--white {
  color: var(--color-white);
}
/* правило для всх ссылок */
.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  
}
.link:hover,
.link:focus {
  color: var(--color-link);
}
.nav-list {
  display: flex;
  padding-top: 24px;
 }

/* свойства ссылок */
.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
/* расположение ссылок шапки */

.studio {
  padding-left: 93px;
  padding-right: 50px;
}

.kontact {
  padding-left: 50px;
  padding-right: 330px;
}
.kontact-container{
    display: flex;
    padding-top: 24px;
}
.img-contact-nav{
  padding-right: 10px;
  
}
.kontact-link{
    padding-right: 50px;
    color: var(--color-descr);
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-weight: 500;
    }

/* правила для кнопок */
.button {
  background-color: var(--color-title);
  border: none;
  cursor: pointer;
  font-family: inherit;
  color: inherit;
  border-radius: 4px;
}

/* свойства для h3 */
.section-title {
  color: var(--color-title);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
text-transform: uppercase;
}
/* свойства для заголовков второго уровня */
.second {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing:0.03em;
  text-transform: uppercase;
}

/* герой */
.hero-button {
  background-color: var(--color-link);
  color: var(--color-white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  margin-top: 30px;
  margin-bottom: 200px;
  padding: 10px 32px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
  padding: 200px 452px 0 452px;
}
.hero {
  background-color: var(--color-hero);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: scenter;
  
}
/* иконки для секции наши преимущества */
.icon {
  padding-left: 100px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 100px;
  background-color: var(--color-team);
}

/* текст параграфов */
.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-descr);
  text-align: center;
}
.skills {
  display: flex;
  justify-content: space-between;
  padding: 94px 215px 0 215px;
}
.description-skills {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--color-descr);
  }
/* фон для фото */
.fon-foto {
  background-color: var(--color-white);
}

/* фон для секции наша команда */
.team {
  background-color: var(--color-team);
  padding-bottom: 94px;
}

.team-foto {
  display: flex;
  justify-content: space-between;
  padding-left: 215px;
  padding-right: 215px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}
/* иконки для фото нашей команды */
.social-networks{
  display: flex;
}
.link-network:hover{
  color: var(--color-link);
}
.team-title {
  font-weight: 500;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}
.ourteam-title{
  padding-top: 94px;
    padding-bottom: 50px;
}
.
/* наши клиенты */
.our-klient-title{
margin-top: 94px;
text-align: center;
margin-bottom: 50px;
}
.klients{
  display: flex;
  justify-content: space-between;
  padding-left: 215px;
  padding-right: 215px                                                                                                      ;
}


/* данные по footer */
.footer {
  background-color: var(--color-hero);
  color: var(--color-white);
  margin-top: 94px;
  display: flex;
  flex-direction: column;
}
/* логотип в футере */
.footer-logo{
padding-top: 60px;
padding-left: 215px;
}
/* контактные данные в футере */
.footer-contact{
  
}
.footer .logo-title{
  padding-top: 60px;
  
}
.kontakt-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}
.contact-item:first{
  color: var(--color-white);
}
.footer-network{

}
.title-network{
  font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  color: #FFFFFF;
  
}
.network-bottom{
  display: flex;
}

.work {
  display: flex;
  justify-content: space-between;
  padding: 50px 215px 94px 215px;
}
/* наши преимущества */

/* кнопки портфолио */
.btn-portfolio {
    background-color: var(--color-team);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
}

.link-btn:focus{
  background-color: var(--color-link);
  color: var(--color-white);
}
.current-btn{
  background-color: var(--color-link);
  color: var(--color-white);
}
.third{
  font-size: 18px;
  text-align: center;
}
.project-selector{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 1170px;
  margin: 0 auto;
}
.btn-container{
  padding-top: 94px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding-left: 495px;
  padding-right: 495px;
}